{
  "openapi": "3.1.0",
  "info": {
    "title": "DejaVu API V1",
    "description": "Public DejaVu V1 API for integrating collection, history, favorites, ratings, watchlist, scrobbling, lists, channels, connectors, and integration features.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dejavu.plus/api/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyHeader": []
    },
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Collection",
      "description": "Manage your personal collection of watched or owned movies and TV shows."
    },
    {
      "name": "History",
      "description": "View and manage your watch history."
    },
    {
      "name": "Favorites",
      "description": "Add and remove movies and TV shows from your favorites."
    },
    {
      "name": "Ratings",
      "description": "Rate and review your movies, TV shows, seasons, and episodes."
    },
    {
      "name": "Watchlist",
      "description": "Manage your watchlist."
    },
    {
      "name": "Scrobble",
      "description": "Track playback progress in real time."
    },
    {
      "name": "Up Next",
      "description": "Get the next episodes to watch for TV shows you follow."
    },
    {
      "name": "Lists",
      "description": "Create and manage custom lists of movies and TV shows."
    },
    {
      "name": "Dashboard",
      "description": "Expose dashboard configuration and widget content."
    },
    {
      "name": "User",
      "description": "Account information and statistics."
    },
    {
      "name": "Auth",
      "description": "Device authentication and token management."
    },
    {
      "name": "Channels",
      "description": "Channels and universes accessible to the user."
    },
    {
      "name": "Connectors",
      "description": "Connectors used by the browser extension."
    },
    {
      "name": "Kodi",
      "description": "Kodi library import."
    },
    {
      "name": "Media",
      "description": "Media resolution and status."
    }
  ],
  "paths": {
    "/auth/device/code": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Request a device code (Device Flow)",
        "description": "First authentication step for devices without a keyboard (TV, etc.).",
        "operationId": "requestDeviceCode",
        "responses": {
          "200": {
            "description": "Generated codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceCodeResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests from this IP address."
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceCodeRequest"
              },
              "example": {
                "client_id": "kodi",
                "client_name": "DejaVu Kodi"
              }
            }
          }
        }
      }
    },
    "/auth/device/token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Exchange the device code for a token",
        "description": "Polling step to check whether the user has authorized the device.",
        "operationId": "exchangeDeviceToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceTokenRequest"
              },
              "example": {
                "device_code": "DEVICE_CODE_FROM_PREVIOUS_STEP",
                "grant_type": "urn:ietf:params:oauth:grant-type:device_code"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, authorization pending, expired, or invalid."
          },
          "403": {
            "description": "Request denied by the user."
          },
          "429": {
            "description": "Too much polling for this device_code."
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": []
      }
    },
    "/collection": {
      "get": {
        "tags": [
          "Collection"
        ],
        "summary": "Get collection",
        "description": "Returns all items in your collection with optional pagination.",
        "operationId": "getCollection",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter by content type",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "movie",
                "tv"
              ],
              "default": "all"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (starts at 1)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "example": 20
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order (e.g. addedAt:desc, addedAt:asc)",
            "schema": {
              "type": "string",
              "enum": [
                "addedAt:asc",
                "addedAt:desc"
              ]
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Filter by format (bluray, dvd, digital, 4k)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minimal",
            "in": "query",
            "description": "Return only type and id",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CollectionItem"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Collection"
        ],
        "summary": "Add to collection",
        "description": "Adds a movie or TV show to your collection. **Requires a secret key** (`sk_...`).",
        "operationId": "addToCollection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionInput"
              },
              "example": {
                "type": "movie",
                "id": 550
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item added to collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/UnprocessableEntity",
            "description": "Invalid request: incorrect parameter or request body."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Collection"
        ],
        "summary": "Remove from collection",
        "description": "Retire un élément de votre collection. **Requiert une clé secrète** (`sk_...`).",
        "operationId": "removeFromCollection",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "movie",
                "tv"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "TMDB ID of the content",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item removed from collection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Requested resource not found."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/dashboard": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Dashboard configuration",
        "description": "Returns the user's dashboard widget configuration.",
        "operationId": "getDashboardConfig",
        "responses": {
          "200": {
            "description": "Dashboard configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "widgets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "apiUrl": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/dashboard/widget": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Unified widget content",
        "description": "Acts as a proxy to return the content of a specific widget.",
        "operationId": "getDashboardWidgetContent",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Widget type",
            "schema": {
              "type": "string"
            },
            "example": "up_next"
          },
          {
            "name": "listId",
            "in": "query",
            "description": "List ID (required if type=list)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "minimal",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Number of items per page (1 à 100).",
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "description": "Widget content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/history": {
      "get": {
        "tags": [
          "History"
        ],
        "summary": "Get watch history",
        "description": "Returns the user's watch history.",
        "operationId": "getHistory",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "movie",
                "tv",
                "episode"
              ],
              "default": "all"
            },
            "example": "movie"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "example": 1
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order (e.g. watchedAt:desc, watchedAt:asc)",
            "schema": {
              "type": "string",
              "enum": [
                "watchedAt:asc",
                "watchedAt:desc"
              ]
            },
            "example": "watchedAt:desc"
          },
          {
            "name": "minimal",
            "in": "query",
            "description": "Return only type and id",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numéro de page (à partir de 1)."
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Number of items per page (1 à 100).",
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "description": "Watch history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HistoryItem"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "History"
        ],
        "summary": "Ajouter à l'historique",
        "description": "Enregistre un visionnage dans l'historique. **Requiert une clé secrète** (`sk_...`).",
        "operationId": "addToHistory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HistoryInput"
              },
              "example": {
                "type": "movie",
                "id": 550,
                "watchedAt": "2026-09-27T12:00:00Z"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Visionnage enregistré",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/UnprocessableEntity",
            "description": "Invalid request: incorrect parameter or request body."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "History"
        ],
        "summary": "Supprimer de l'historique",
        "description": "Supprime une entrée de l'historique. **Requiert une clé secrète** (`sk_...`).",
        "operationId": "removeFromHistory",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "movie",
                "tv",
                "episode"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "ID TMDB du média ou de l'épisode. Facultatif si un contexte d'épisode est fourni.",
            "required": false
          },
          {
            "name": "tvShowId",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "ID TMDB de la série pour cibler un épisode."
          },
          {
            "name": "seasonNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "episodeNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entrée supprimée de l'historique",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Requested resource not found."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/favorites": {
      "get": {
        "tags": [
          "Favorites"
        ],
        "summary": "Get favorites",
        "description": "Retourne la liste des favoris de l'utilisateur.",
        "operationId": "getFavorites",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filtrer par type",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "movie",
                "tv"
              ],
              "default": "all"
            }
          },
          {
            "name": "minimal",
            "in": "query",
            "description": "Return only type and id",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numéro de page (à partir de 1).",
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Number of items per page (1 à 100).",
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des favoris",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MediaItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Favorites"
        ],
        "summary": "Add to favorites",
        "description": "Ajoute un film ou une série aux favoris. **Requiert une clé secrète** (`sk_...`).",
        "operationId": "addToFavorites",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaInput"
              },
              "example": {
                "type": "movie",
                "id": 550
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ajouté aux favoris",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/UnprocessableEntity",
            "description": "Invalid request: incorrect parameter or request body."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Favorites"
        ],
        "summary": "Remove from favorites",
        "description": "Retire un élément des favoris. **Requiert une clé secrète** (`sk_...`).",
        "operationId": "removeFromFavorites",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "movie",
                "tv"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retiré des favoris",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Requested resource not found."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/ratings": {
      "get": {
        "tags": [
          "Ratings"
        ],
        "summary": "Get ratings",
        "description": "Retourne les notes données par l'utilisateur.",
        "operationId": "getRatings",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filtrer par type",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "movie",
                "tv",
                "season",
                "episode"
              ],
              "default": "all"
            }
          },
          {
            "name": "minimal",
            "in": "query",
            "description": "Return only type and id",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numéro de page (à partir de 1).",
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Number of items per page (1 à 100).",
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des notes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RatingItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Ratings"
        ],
        "summary": "Ajouter ou modifier une note",
        "description": "Attribue ou met à jour une note (1-10) avec avis optionnel. **Requiert une clé secrète** (`sk_...`).",
        "operationId": "upsertRating",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RatingInput"
              },
              "example": {
                "type": "movie",
                "id": 550,
                "rating": 9
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Note enregistrée",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/UnprocessableEntity",
            "description": "Invalid request: incorrect parameter or request body."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Ratings"
        ],
        "summary": "Remove a rating",
        "description": "Supprime une note existante. **Requiert une clé secrète** (`sk_...`).",
        "operationId": "deleteRating",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "movie",
                "tv",
                "season",
                "episode"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "ID TMDB du média ou de l'épisode. Facultatif si le contexte saison/épisode est fourni."
          },
          {
            "name": "tvShowId",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "ID TMDB de la série pour cibler une saison ou un épisode."
          },
          {
            "name": "seasonNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Numéro de saison."
          },
          {
            "name": "episodeNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numéro d'épisode."
          }
        ],
        "responses": {
          "200": {
            "description": "Note supprimée",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Requested resource not found."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/watchlist": {
      "get": {
        "tags": [
          "Watchlist"
        ],
        "summary": "Get watchlist",
        "description": "Retourne la liste des contenus à regarder.",
        "operationId": "getWatchlist",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filtrer par type",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "movie",
                "tv"
              ],
              "default": "all"
            }
          },
          {
            "name": "minimal",
            "in": "query",
            "description": "Return only type and id",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Tri (ex: addedAt:desc, priority:desc)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numéro de page (à partir de 1).",
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Number of items per page (1 à 100).",
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "description": "Watchlist de l'utilisateur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WatchlistItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Watchlist"
        ],
        "summary": "Add to watchlist",
        "description": "Ajoute un film ou une série à la watchlist. **Requiert une clé secrète** (`sk_...`).",
        "operationId": "addToWatchlist",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WatchlistInput"
              },
              "example": {
                "type": "movie",
                "id": 550,
                "priority": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ajouté à la watchlist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/UnprocessableEntity",
            "description": "Invalid request: incorrect parameter or request body."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Watchlist"
        ],
        "summary": "Remove from watchlist",
        "description": "Retire un élément de la watchlist. **Requiert une clé secrète** (`sk_...`).",
        "operationId": "removeFromWatchlist",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "movie",
                "tv"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retiré de la watchlist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Requested resource not found."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/scrobble": {
      "get": {
        "tags": [
          "Scrobble"
        ],
        "summary": "Sessions de lecture en cours",
        "description": "Retourne les sessions de lecture actives (lecture en cours).",
        "operationId": "getScrobbleSessions",
        "responses": {
          "200": {
            "description": "Sessions actives",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ScrobbleSession"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "movie",
                "episode"
              ]
            },
            "example": "episode"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numéro de page (à partir de 1).",
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Number of items per page (1 à 100).",
            "example": 20
          },
          {
            "name": "minimal",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          }
        ]
      },
      "post": {
        "tags": [
          "Scrobble"
        ],
        "summary": "Mettre à jour la progression de lecture",
        "description": "Met à jour la progression de lecture d'un film ou épisode. Si la progression dépasse **90%**, le contenu est automatiquement marqué comme vu dans l'historique. **Requiert une clé secrète** (`sk_...`).",
        "operationId": "updateScrobble",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScrobbleInput"
              },
              "example": {
                "type": "movie",
                "id": 550,
                "progress": 42,
                "duration": 120
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Progression mise à jour. Si > 90%, marqué comme vu automatiquement.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/UnprocessableEntity",
            "description": "Invalid request: incorrect parameter or request body."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Scrobble"
        ],
        "summary": "Supprimer une session de lecture",
        "description": "Met fin à une session de lecture sans la marquer comme vue. **Requiert une clé secrète** (`sk_...`).",
        "operationId": "deleteScrobble",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "movie",
                "episode"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "ID TMDB du film ou de l'épisode. Facultatif si le contexte d'épisode est fourni."
          },
          {
            "name": "tvShowId",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "seasonNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "episodeNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session supprimée",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Requested resource not found."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/upnext": {
      "get": {
        "tags": [
          "Up Next"
        ],
        "summary": "Séries à suivre (Up Next)",
        "description": "Retourne les prochains épisodes à regarder pour les séries en cours.",
        "operationId": "getUpNext",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numéro de page (à partir de 1).",
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Number of items per page (1 à 100).",
            "example": 20
          },
          {
            "name": "minimal",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Prochains épisodes à regarder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UpNextItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/me": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Récupérer le profil et les statistiques du compte",
        "description": "Retourne les informations du profil utilisateur ainsi que ses statistiques globales (temps passé, nombre de films, etc.).",
        "operationId": "getMe",
        "responses": {
          "200": {
            "description": "Profil et statistiques utilisateur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "user": {
                      "type": "object"
                    },
                    "stats": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/lists": {
      "get": {
        "tags": [
          "Lists"
        ],
        "summary": "Get lists",
        "description": "Retourne toutes les listes personnalisées de l'utilisateur.",
        "operationId": "getLists",
        "responses": {
          "200": {
            "description": "Listes de l'utilisateur",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/List"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numéro de page (à partir de 1).",
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Number of items per page (1 à 100).",
            "example": 20
          },
          {
            "name": "minimal",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Retourne une représentation minimale des listes.",
            "example": true
          }
        ]
      },
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Create a list",
        "description": "Crée une nouvelle liste personnalisée. **Requiert une clé secrète** (`sk_...`).",
        "operationId": "createList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListInput"
              },
              "example": {
                "name": "Films à voir",
                "kind": "MEDIA",
                "visibility": "PRIVATE"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Liste créée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity",
            "description": "Données valides syntaxiquement mais impossibles à traiter."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/lists/{id}/items": {
      "get": {
        "tags": [
          "Lists"
        ],
        "summary": "Get list items",
        "description": "Retourne les éléments d'une liste avec pagination.",
        "operationId": "getListItems",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Identifiant de la liste",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Numéro de page (à partir de 1).",
            "example": 1
          },
          {
            "name": "minimal",
            "in": "query",
            "description": "Retourne une représentation minimale des éléments.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Number of items per page (1 à 100).",
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "description": "Éléments de la liste",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListItem"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Requested resource not found."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Add an item to a list",
        "description": "Ajoute un film ou une série à une liste. **Requiert une clé secrète** (`sk_...`).",
        "operationId": "addItemToList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListItemInput"
              },
              "example": {
                "type": "movie",
                "id": 550
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Élément ajouté à la liste",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/UnprocessableEntity",
            "description": "Invalid request: incorrect parameter or request body."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Requested resource not found."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Lists"
        ],
        "summary": "Retirer un élément d'une liste",
        "description": "Retire un film ou une série d'une liste. **Requiert une clé secrète** (`sk_...`).",
        "operationId": "removeItemFromList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "movie",
                "tv",
                "episode"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "ID TMDB du média ou de l'épisode.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Élément retiré de la liste",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Requested resource not found."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/auth/device/verify": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Vérifier le code utilisateur",
        "description": "Appelé par le navigateur utilisateur pour valider un `user_code` avant de l'approuver.",
        "operationId": "verifyDeviceCode",
        "parameters": [
          {
            "name": "user_code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Code valide, informations de l'appareil retournées",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "userCode": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Code manquant, déjà utilisé ou expiré."
          }
        },
        "security": []
      }
    },
    "/auth/device/approve": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Approuver le code utilisateur",
        "description": "Appelé depuis le compte utilisateur. Requiert la session DejaVu du navigateur.",
        "operationId": "approveDeviceCode",
        "security": [
          {
            "SessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_code"
                ],
                "properties": {
                  "user_code": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "user_code": "ABCD-1234"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Appareil autorisé avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Code invalide ou expiré."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        }
      }
    },
    "/auth/device/qr": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Obtenir le QR code d’un appareil",
        "description": "Retourne un PNG contenant l’URL de vérification associée à un user_code encore en attente.",
        "operationId": "getDeviceQr",
        "security": [],
        "parameters": [
          {
            "name": "user_code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image PNG",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "user_code invalide"
          },
          "404": {
            "description": "Code introuvable ou expiré"
          },
          "429": {
            "description": "Trop de demandes"
          }
        }
      }
    },
    "/channels": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Lister les chaînes",
        "operationId": "getChannels",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "UNIVERSE",
                "EDITORIAL",
                "PLATFORM",
                "THEMATIC",
                "CREATOR",
                "AWARDS",
                "FRANCHISE"
              ]
            }
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "mine",
                "following"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liste paginée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Paramètres invalides"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/channels/{id}": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Get a channel",
        "operationId": "getChannel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chaîne",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "404": {
            "description": "Chaîne introuvable"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/connectors": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "Lister les connecteurs approuvés",
        "description": "Endpoint public utilisé par l’extension navigateur.",
        "operationId": "getConnectors",
        "security": [],
        "responses": {
          "200": {
            "description": "Connecteurs approuvés",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "304": {
            "description": "Aucune modification depuis l’ETag fourni"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/connectors/submit": {
      "post": {
        "tags": [
          "Connectors"
        ],
        "summary": "Submit a connector",
        "description": "Soumet un connecteur pour revue. Limite : 5 soumissions par heure et par utilisateur.",
        "operationId": "submitConnector",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectorSubmission"
              },
              "example": {
                "name": "Example connector",
                "domains": [
                  "example.com"
                ],
                "definition": {
                  "version": 1
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Connecteur soumis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Données invalides"
          },
          "429": {
            "description": "Limite atteinte"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/kodi/import": {
      "post": {
        "tags": [
          "Kodi"
        ],
        "summary": "Import a Kodi library",
        "operationId": "importKodi",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KodiImportRequest"
              },
              "example": {
                "importSessionId": "demo-session",
                "chunk": 1,
                "totalChunks": 1,
                "items": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lot importé",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Lot ou paramètres invalides"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/media/resolve": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Resolve media",
        "description": "Recherche un média à partir d’un IMDb ID, d’un TMDB ID et type, d’un titre/année ou du contexte d’un épisode.",
        "operationId": "resolveMedia",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaResolveRequest"
              },
              "example": {
                "type": "movie",
                "tmdbId": 550
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Média résolu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Identifiants ou contexte invalides"
          },
          "404": {
            "description": "Média introuvable"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/media/status": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Récupérer le statut utilisateur de médias",
        "description": "Retourne le statut utilisateur pour un lot de films, séries ou épisodes.",
        "operationId": "getMediaStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaStatusRequest"
              },
              "example": {
                "items": [
                  {
                    "type": "movie",
                    "id": 550
                  },
                  {
                    "type": "tv",
                    "id": 1399
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Statuts retournés",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Aucun élément valide"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Clé API DejaVu. pk_* = lecture seule ; sk_* = lecture et écriture."
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Clé API DejaVu envoyée dans Authorization: Bearer <key>."
      },
      "SessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "better-auth.session_token",
        "description": "Session utilisateur DejaVu utilisée par l’approbation du Device Flow dans le navigateur."
      }
    },
    "schemas": {
      "MediaItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID TMDB"
          },
          "type": {
            "type": "string",
            "enum": [
              "movie",
              "tv"
            ]
          },
          "title": {
            "type": "string"
          },
          "posterPath": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "MediaInput": {
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "movie",
              "tv"
            ]
          },
          "id": {
            "type": "integer",
            "description": "TMDB ID of the content"
          }
        }
      },
      "CollectionItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MediaItem"
          },
          {
            "type": "object",
            "properties": {
              "format": {
                "type": "string",
                "description": "Format de stockage (Blu-ray, DVD, etc.)",
                "nullable": true
              },
              "notes": {
                "type": "string",
                "nullable": true
              },
              "addedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "CollectionInput": {
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "movie",
              "tv"
            ]
          },
          "id": {
            "type": "integer",
            "description": "ID TMDB"
          },
          "format": {
            "type": "string",
            "description": "Format de stockage (ex: Blu-ray, DVD, digital)"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "HistoryItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MediaItem"
          },
          {
            "type": "object",
            "properties": {
              "watchedAt": {
                "type": "string",
                "format": "date-time"
              },
              "count": {
                "type": "integer",
                "description": "Nombre de fois vu",
                "default": 1
              },
              "episodeId": {
                "type": "integer",
                "nullable": true
              },
              "seasonNumber": {
                "type": "integer",
                "nullable": true
              },
              "episodeNumber": {
                "type": "integer",
                "nullable": true
              }
            }
          }
        ]
      },
      "HistoryInput": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "movie",
              "tv",
              "episode"
            ]
          },
          "id": {
            "type": "integer",
            "description": "ID TMDB du film ou de l'épisode. Pour un épisode, peut être remplacé par tvShowId + seasonNumber + episodeNumber."
          },
          "count": {
            "type": "integer",
            "default": 1,
            "description": "Nombre de visionnages à enregistrer"
          },
          "watchedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date et heure du visionnage (défaut: maintenant)"
          },
          "tmdbId": {
            "type": "integer",
            "description": "Alias du TMDB ID de la série pour résoudre un épisode par contexte."
          },
          "tvShowId": {
            "type": "integer",
            "description": "ID TMDB de la série, utilisé pour résoudre un épisode."
          },
          "seasonNumber": {
            "type": "integer",
            "minimum": 0,
            "description": "Numéro de saison pour la résolution d'un épisode."
          },
          "episodeNumber": {
            "type": "integer",
            "minimum": 1,
            "description": "Numéro d'épisode pour la résolution d'un épisode."
          }
        },
        "description": "Ajoute un film ou un épisode à l'historique. Les séries TV ne constituent pas une entrée d'historique autonome : utilisez type=episode."
      },
      "RatingItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MediaItem"
          },
          {
            "type": "object",
            "properties": {
              "rating": {
                "type": "integer",
                "minimum": 1,
                "maximum": 10
              },
              "review": {
                "type": "string",
                "nullable": true
              },
              "ratedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "RatingInput": {
        "type": "object",
        "required": [
          "type",
          "rating"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "movie",
              "tv",
              "season",
              "episode"
            ]
          },
          "id": {
            "type": "integer",
            "description": "ID TMDB du média ou de l'épisode. Pour une saison/épisode, le contexte de série peut être nécessaire."
          },
          "rating": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "description": "Rating from 1 to 10"
          },
          "review": {
            "type": "string",
            "description": "Text review (optional)"
          },
          "tvShowId": {
            "type": "integer",
            "description": "Required for seasons and episodes",
            "nullable": true
          },
          "seasonNumber": {
            "type": "integer",
            "description": "Required for seasons",
            "nullable": true
          },
          "episodeNumber": {
            "type": "integer",
            "minimum": 1,
            "description": "Episode number, required when the episode is resolved by context."
          }
        },
        "description": "Adds or updates a rating from 1 to 10. Seasons and episodes use tvShowId and their S/E context."
      },
      "WatchlistItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MediaItem"
          },
          {
            "type": "object",
            "properties": {
              "priority": {
                "type": "integer",
                "description": "Ordre de priorité",
                "nullable": true
              },
              "notes": {
                "type": "string",
                "nullable": true
              },
              "addedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "WatchlistInput": {
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "movie",
              "tv"
            ]
          },
          "id": {
            "type": "integer"
          },
          "priority": {
            "type": "integer",
            "description": "Priority (smaller = higher priority)"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "ScrobbleSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "movie",
              "episode"
            ]
          },
          "mediaId": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "progress": {
            "type": "integer",
            "description": "Seconds played"
          },
          "duration": {
            "type": "integer",
            "description": "Total duration in seconds"
          },
          "progressPercent": {
            "type": "number",
            "description": "Progress percentage (0-100)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ScrobbleInput": {
        "type": "object",
        "required": [
          "type",
          "progress",
          "duration"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "movie",
              "episode"
            ]
          },
          "id": {
            "type": "integer",
            "description": "TMDB ID of the movie or episode, optional if tmdbId or episode context is provided."
          },
          "progress": {
            "type": "integer",
            "description": "Secondes déjà lues"
          },
          "duration": {
            "type": "integer",
            "description": "Durée totale du contenu en secondes"
          },
          "tmdbId": {
            "type": "integer",
            "minimum": 1,
            "description": "TMDB ID of the movie or TMDB ID of the TV show to resolve an episode."
          },
          "tvShowId": {
            "type": "integer",
            "minimum": 1,
            "description": "TMDB ID of the TV show to resolve an episode."
          },
          "seasonNumber": {
            "type": "integer",
            "minimum": 0,
            "description": "Season number to resolve an episode."
          },
          "episodeNumber": {
            "type": "integer",
            "minimum": 1,
            "description": "Episode number to resolve an episode."
          }
        },
        "description": "Updates the progress of a movie or episode. At 90% or more, the content is automatically marked as watched."
      },
      "UpNextItem": {
        "type": "object",
        "properties": {
          "showId": {
            "type": "integer"
          },
          "showTitle": {
            "type": "string"
          },
          "posterPath": {
            "type": "string",
            "nullable": true
          },
          "nextEpisode": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "seasonNumber": {
                "type": "integer"
              },
              "episodeNumber": {
                "type": "integer"
              },
              "title": {
                "type": "string"
              },
              "airDate": {
                "type": "string",
                "format": "date",
                "nullable": true
              }
            }
          }
        }
      },
      "List": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "visibility": {
            "type": "string",
            "enum": [
              "PRIVATE",
              "PUBLIC",
              "SHARED"
            ]
          },
          "itemCount": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ListInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "List name"
          },
          "description": {
            "type": "string"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "PRIVATE",
              "PUBLIC",
              "SHARED"
            ],
            "default": "PRIVATE"
          },
          "kind": {
            "type": "string",
            "enum": [
              "media",
              "episode"
            ]
          }
        }
      },
      "ListItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MediaItem"
          },
          {
            "type": "object",
            "properties": {
              "notes": {
                "type": "string",
                "nullable": true
              },
              "position": {
                "type": "integer",
                "description": "Position in the list"
              },
              "addedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "ListItemInput": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "movie",
              "tv",
              "episode"
            ]
          },
          "id": {
            "type": "integer",
            "description": "ID TMDB du média ou de l'épisode. Pour un épisode, peut être remplacé par le contexte tvShowId + seasonNumber + episodeNumber."
          },
          "notes": {
            "type": "string"
          },
          "position": {
            "type": "integer",
            "description": "Desired position in the list"
          },
          "tvShowId": {
            "type": "integer",
            "minimum": 1,
            "description": "ID TMDB de la série, utilisé pour résoudre un épisode."
          },
          "seasonNumber": {
            "type": "integer",
            "minimum": 0,
            "description": "Numéro de saison pour un épisode."
          },
          "episodeNumber": {
            "type": "integer",
            "minimum": 1,
            "description": "Numéro d'épisode pour un épisode."
          }
        },
        "description": "Adds a movie, TV show, or episode to a list. Rules depend on the list kind."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "totalItems": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Machine-readable error code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error description"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "required": [
          "success"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "description": "Data returned by the operation"
          }
        }
      },
      "PaginatedSuccessResponse": {
        "type": "object",
        "required": [
          "success",
          "data",
          "pagination"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {}
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "DeviceCodeRequest": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string",
            "maxLength": 64
          },
          "client_name": {
            "type": "string",
            "maxLength": 64
          }
        }
      },
      "DeviceCodeResponse": {
        "type": "object",
        "required": [
          "device_code",
          "user_code",
          "verification_uri",
          "verification_uri_complete",
          "expires_in",
          "interval"
        ],
        "properties": {
          "device_code": {
            "type": "string"
          },
          "user_code": {
            "type": "string"
          },
          "verification_uri": {
            "type": "string",
            "format": "uri"
          },
          "verification_uri_complete": {
            "type": "string",
            "format": "uri"
          },
          "expires_in": {
            "type": "integer",
            "example": 300
          },
          "interval": {
            "type": "integer",
            "example": 5
          }
        }
      },
      "DeviceTokenRequest": {
        "type": "object",
        "required": [
          "device_code",
          "grant_type"
        ],
        "properties": {
          "device_code": {
            "type": "string"
          },
          "grant_type": {
            "type": "string",
            "enum": [
              "urn:ietf:params:oauth:grant-type:device_code"
            ]
          }
        }
      },
      "DeviceTokenResponse": {
        "type": "object",
        "required": [
          "access_token",
          "token_type",
          "expires_in"
        ],
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "example": 7776000
          }
        }
      },
      "MediaResolveRequest": {
        "type": "object",
        "properties": {
          "imdbId": {
            "type": "string"
          },
          "imdb_id": {
            "type": "string"
          },
          "tmdbId": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          },
          "tmdb_id": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "movie",
              "tv",
              "episode"
            ]
          },
          "title": {
            "type": "string"
          },
          "year": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          },
          "tvShowId": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          },
          "seasonNumber": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          },
          "episodeNumber": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          }
        }
      },
      "MediaStatusRequest": {
        "type": "object",
        "required": [],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "movie",
                    "tv",
                    "episode"
                  ]
                },
                "id": {
                  "type": "integer"
                },
                "tmdbId": {
                  "type": "integer"
                },
[...]
