{
  "openapi": "3.1.0",
  "info": {
    "title": "DejaVu API V1",
    "description": "Public DejaVu V1 API for integrating collection, history, favorites, ratings, watchlist, scrobbling, lists, channels, connectors, and integration features.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dejavu.plus/api/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyHeader": []
    },
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Collection",
      "description": "Manage your personal collection of watched or owned movies and TV shows."
    },
    {
      "name": "History",
      "description": "View and manage your watch history."
    },
    {
      "name": "Favorites",
      "description": "Add and remove movies and TV shows from your favorites."
    },
    {
      "name": "Ratings",
      "description": "Rate and review your movies, TV shows, seasons, and episodes."
    },
    {
      "name": "Watchlist",
      "description": "Manage your watchlist."
    },
    {
      "name": "Scrobble",
      "description": "Track playback progress in real time."
    },
    {
      "name": "Up Next",
      "description": "Get the next episodes to watch for TV shows you follow."
    },
    {
      "name": "Lists",
      "description": "Create and manage custom lists of movies and TV shows."
    },
    {
      "name": "Dashboard",
      "description": "Expose dashboard configuration and widget content."
    },
    {
      "name": "User",
      "description": "Account information and statistics."
    },
    {
      "name": "Auth",
      "description": "Device authentication and token management."
    },
    {
      "name": "Channels",
      "description": "Channels and universes accessible to the user."
    },
    {
      "name": "Connectors",
      "description": "Connectors used by the browser extension."
    },
    {
      "name": "Kodi",
      "description": "Kodi library import."
    },
    {
      "name": "Media",
      "description": "Media resolution and status."
    }
  ],
  "paths": {
    "/auth/device/code": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Request a device code (Device Flow)",
        "description": "First authentication step for devices without a keyboard (TV, etc.).",
        "operationId": "requestDeviceCode",
        "responses": {
          "200": {
            "description": "Generated codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceCodeResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests from this IP address."
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceCodeRequest"
              },
              "example": {
                "client_id": "kodi",
                "client_name": "DejaVu Kodi"
              }
            }
          }
        }
      }
    },
    "/auth/device/token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Exchange the device code for a token",
        "description": "Polling step to check whether the user has authorized the device.",
        "operationId": "exchangeDeviceToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceTokenRequest"
              },
              "example": {
                "device_code": "DEVICE_CODE_FROM_PREVIOUS_STEP",
                "grant_type": "urn:ietf:params:oauth:grant-type:device_code"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, authorization pending, expired, or invalid."
          },
          "403": {
            "description": "Request denied by the user."
          },
          "429": {
            "description": "Too much polling for this device_code."
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": []
      }
    },
    "/collection": {
      "get": {
        "tags": [
          "Collection"
        ],
        "summary": "Get collection",
        "description": "Returns all items in your collection with optional pagination.",
        "operationId": "getCollection",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter by content type",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "movie",
                "tv"
              ],
              "default": "all"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (starts at 1)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "example": 20
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order (e.g. addedAt:desc, addedAt:asc)",
            "schema": {
              "type": "string",
              "enum": [
                "addedAt:asc",
                "addedAt:desc"
              ]
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Filter by format (bluray, dvd, digital, 4k)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minimal",
            "in": "query",
            "description": "Return only type and id",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CollectionItem"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Collection"
        ],
        "summary": "Add to collection",
        "description": "Adds a movie or TV show to your collection. **Requires a secret key** (`sk_...`).",
        "operationId": "addToCollection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionInput"
              },
              "example": {
                "type": "movie",
                "id": 550
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item added to collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionItem"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/UnprocessableEntity",
            "description": "Invalid request: incorrect parameter or request body."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Collection"
        ],
        "summary": "Remove from collection",
        "description": "Removes an item from your collection. **Requires a secret key** (`sk_...`).",
        "operationId": "removeFromCollection",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "movie",
                "tv"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "TMDB ID of the content",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item removed from collection",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Requested resource not found."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/dashboard": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Dashboard configuration",
        "description": "Returns the user's dashboard widget configuration.",
        "operationId": "getDashboardConfig",
        "responses": {
          "200": {
            "description": "Dashboard configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "widgets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "apiUrl": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/dashboard/widget": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Unified widget content",
        "description": "Acts as a proxy to return the content of a specific widget.",
        "operationId": "getDashboardWidgetContent",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Widget type",
            "schema": {
              "type": "string"
            },
            "example": "up_next"
          },
          {
            "name": "listId",
            "in": "query",
            "description": "List ID (required if type=list)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "minimal",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Number of items per page (1 to 100).",
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "description": "Widget content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/history": {
      "get": {
        "tags": [
          "History"
        ],
        "summary": "Get watch history",
        "description": "Returns the user's watch history.",
        "operationId": "getHistory",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "movie",
                "tv",
                "episode"
              ],
              "default": "all"
            },
            "example": "movie"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "example": 1
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order (e.g. watchedAt:desc, watchedAt:asc)",
            "schema": {
              "type": "string",
              "enum": [
                "watchedAt:asc",
                "watchedAt:desc"
              ]
            },
            "example": "watchedAt:desc"
          },
          {
            "name": "minimal",
            "in": "query",
            "description": "Return only type and id",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Page number (starting at 1)."
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Number of items per page (1 to 100).",
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "description": "Watch history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HistoryItem"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "History"
        ],
        "summary": "Add to history",
        "description": "Records a watch in history. **Requires a secret key** (`sk_...`).",
        "operationId": "addToHistory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HistoryInput"
              },
              "example": {
                "type": "movie",
                "id": 550,
                "watchedAt": "2026-09-27T12:00:00Z"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Watch recorded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/UnprocessableEntity",
            "description": "Invalid request: incorrect parameter or request body."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "History"
        ],
        "summary": "Remove from history",
        "description": "Removes a history entry. **Requires a secret key** (`sk_...`).",
        "operationId": "removeFromHistory",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "movie",
                "tv",
                "episode"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "TMDB ID of the media or episode. Optional if episode context is provided.",
            "required": false
          },
          {
            "name": "tvShowId",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "TMDB ID of the TV show to target an episode."
          },
          {
            "name": "seasonNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "episodeNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "History entry removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Requested resource not found."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/favorites": {
      "get": {
        "tags": [
          "Favorites"
        ],
        "summary": "Get favorites",
        "description": "Returns the user's favorites.",
        "operationId": "getFavorites",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter by type",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "movie",
                "tv"
              ],
              "default": "all"
            }
          },
          {
            "name": "minimal",
            "in": "query",
            "description": "Return only type and id",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Page number (starting at 1).",
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Number of items per page (1 to 100).",
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "description": "Favorites list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MediaItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Favorites"
        ],
        "summary": "Add to favorites",
        "description": "Adds a movie or TV show to favorites. **Requires a secret key** (`sk_...`).",
        "operationId": "addToFavorites",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaInput"
              },
              "example": {
                "type": "movie",
                "id": 550
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added to favorites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/UnprocessableEntity",
            "description": "Invalid request: incorrect parameter or request body."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Favorites"
        ],
        "summary": "Remove from favorites",
        "description": "Removes an item from favorites. **Requires a secret key** (`sk_...`).",
        "operationId": "removeFromFavorites",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "movie",
                "tv"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Removed from favorites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Requested resource not found."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/ratings": {
      "get": {
        "tags": [
          "Ratings"
        ],
        "summary": "Get ratings",
        "description": "Returns ratings given by the user.",
        "operationId": "getRatings",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter by type",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "movie",
                "tv",
                "season",
                "episode"
              ],
              "default": "all"
            }
          },
          {
            "name": "minimal",
            "in": "query",
            "description": "Return only type and id",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Page number (starting at 1).",
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Number of items per page (1 to 100).",
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "description": "Ratings list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RatingItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Ratings"
        ],
        "summary": "Add or update a rating",
        "description": "Assigns or updates a rating (1-10) with an optional review. **Requires a secret key** (`sk_...`).",
        "operationId": "upsertRating",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RatingInput"
              },
              "example": {
                "type": "movie",
                "id": 550,
                "rating": 9
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rating saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/UnprocessableEntity",
            "description": "Invalid request: incorrect parameter or request body."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Ratings"
        ],
        "summary": "Remove a rating",
        "description": "Removes an existing rating. **Requires a secret key** (`sk_...`).",
        "operationId": "deleteRating",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "movie",
                "tv",
                "season",
                "episode"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "TMDB ID of the media or episode. Optional if season/episode context is provided."
          },
          {
            "name": "tvShowId",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "TMDB ID of the TV show to target a season or episode."
          },
          {
            "name": "seasonNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Season number."
          },
          {
            "name": "episodeNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Episode number."
          }
        ],
        "responses": {
          "200": {
            "description": "Rating removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Requested resource not found."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/watchlist": {
      "get": {
        "tags": [
          "Watchlist"
        ],
        "summary": "Get watchlist",
        "description": "Returns the list of content to watch.",
        "operationId": "getWatchlist",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter by type",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "movie",
                "tv"
              ],
              "default": "all"
            }
          },
          {
            "name": "minimal",
            "in": "query",
            "description": "Return only type and id",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Tri (ex: addedAt:desc, priority:desc)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Page number (starting at 1).",
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Number of items per page (1 to 100).",
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "description": "User watchlist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WatchlistItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Watchlist"
        ],
        "summary": "Add to watchlist",
        "description": "Adds a movie or TV show to the watchlist. **Requires a secret key** (`sk_...`).",
        "operationId": "addToWatchlist",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WatchlistInput"
              },
              "example": {
                "type": "movie",
                "id": 550,
                "priority": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added to watchlist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/UnprocessableEntity",
            "description": "Invalid request: incorrect parameter or request body."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Watchlist"
        ],
        "summary": "Remove from watchlist",
        "description": "Removes an item from the watchlist. **Requires a secret key** (`sk_...`).",
        "operationId": "removeFromWatchlist",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "movie",
                "tv"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Removed from watchlist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Requested resource not found."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/scrobble": {
      "get": {
        "tags": [
          "Scrobble"
        ],
        "summary": "Active playback sessions",
        "description": "Returns active playback sessions (currently playing).",
        "operationId": "getScrobbleSessions",
        "responses": {
          "200": {
            "description": "Sessions actives",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ScrobbleSession"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "movie",
                "episode"
              ]
            },
            "example": "episode"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Page number (starting at 1).",
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Number of items per page (1 to 100).",
            "example": 20
          },
          {
            "name": "minimal",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          }
        ]
      },
      "post": {
        "tags": [
          "Scrobble"
        ],
        "summary": "Update playback progress",
        "description": "Updates playback progress for a movie or episode. If progress exceeds **90%**, the content is automatically marked as watched in history. **Requires a secret key** (`sk_...`).",
        "operationId": "updateScrobble",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScrobbleInput"
              },
              "example": {
                "type": "movie",
                "id": 550,
                "progress": 42,
                "duration": 120
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Progress updated. If > 90%, automatically marked as watched.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/UnprocessableEntity",
            "description": "Invalid request: incorrect parameter or request body."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Scrobble"
        ],
        "summary": "Remove a playback session",
        "description": "Ends a playback session without marking it as watched. **Requires a secret key** (`sk_...`).",
        "operationId": "deleteScrobble",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "movie",
                "episode"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "TMDB ID of the movie or episode. Optional if episode context is provided."
          },
          {
            "name": "tvShowId",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "seasonNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "episodeNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Requested resource not found."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/upnext": {
      "get": {
        "tags": [
          "Up Next"
        ],
        "summary": "Shows to follow (Up Next)",
        "description": "Returns the next episodes to watch for shows in progress.",
        "operationId": "getUpNext",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Page number (starting at 1).",
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Number of items per page (1 to 100).",
            "example": 20
          },
          {
            "name": "minimal",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Next episodes to watch",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UpNextItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/me": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get account profile and statistics",
        "description": "Returns user profile information and overall statistics (time spent, number of movies, etc.).",
        "operationId": "getMe",
        "responses": {
          "200": {
            "description": "User profile and statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "user": {
                      "type": "object"
                    },
                    "stats": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/lists": {
      "get": {
        "tags": [
          "Lists"
        ],
        "summary": "Get lists",
        "description": "Returns all of the user's custom lists.",
        "operationId": "getLists",
        "responses": {
          "200": {
            "description": "User lists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/List"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Page number (starting at 1).",
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Number of items per page (1 to 100).",
            "example": 20
          },
          {
            "name": "minimal",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Returns a minimal representation of the lists.",
            "example": true
          }
        ]
      },
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Create a list",
        "description": "Creates a new custom list. **Requires a secret key** (`sk_...`).",
        "operationId": "createList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListInput"
              },
              "example": {
                "name": "Films à voir",
                "kind": "MEDIA",
                "visibility": "PRIVATE"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "List created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity",
            "description": "Syntactically valid data that cannot be processed."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/lists/{id}/items": {
      "get": {
        "tags": [
          "Lists"
        ],
        "summary": "Get list items",
        "description": "Returns the items in a list with pagination.",
        "operationId": "getListItems",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "List identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number (starting at 1).",
            "example": 1
          },
          {
            "name": "minimal",
            "in": "query",
            "description": "Returns a minimal representation of the items.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Number of items per page (1 to 100).",
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "description": "List items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListItem"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Requested resource not found."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Add an item to a list",
        "description": "Adds a movie or TV show to a list. **Requires a secret key** (`sk_...`).",
        "operationId": "addItemToList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListItemInput"
              },
              "example": {
                "type": "movie",
                "id": 550
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item added to list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/UnprocessableEntity",
            "description": "Invalid request: incorrect parameter or request body."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Requested resource not found."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Lists"
        ],
        "summary": "Remove an item from a list",
        "description": "Removes a movie or TV show from a list. **Requires a secret key** (`sk_...`).",
        "operationId": "removeItemFromList",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "movie",
                "tv",
                "episode"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "TMDB ID of the media or episode.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item removed from list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          },
          "403": {
            "$ref": "#/components/responses/Forbidden",
            "description": "Valid API key but insufficient permissions for this operation."
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Requested resource not found."
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/auth/device/verify": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify user code",
        "description": "Called by the user's browser to validate a `user_code` before approval.",
        "operationId": "verifyDeviceCode",
        "parameters": [
          {
            "name": "user_code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Valid code, device information returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "userCode": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Code missing, already used, or expired."
          }
        },
        "security": []
      }
    },
    "/auth/device/approve": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Approve user code",
        "description": "Called from the user account. Requires the DejaVu browser session.",
        "operationId": "approveDeviceCode",
        "security": [
          {
            "SessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_code"
                ],
                "properties": {
                  "user_code": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "user_code": "ABCD-1234"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device authorized successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired code."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized",
            "description": "Authentication missing, invalid, or API key not authorized."
          }
        }
      }
    },
    "/auth/device/qr": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get a device QR code",
        "description": "Returns a PNG containing the verification URL associated with a pending user_code.",
        "operationId": "getDeviceQr",
        "security": [],
        "parameters": [
          {
            "name": "user_code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image PNG",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "user_code invalide"
          },
          "404": {
            "description": "Code not found or expired"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/channels": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "List channels",
        "operationId": "getChannels",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "UNIVERSE",
                "EDITORIAL",
                "PLATFORM",
                "THEMATIC",
                "CREATOR",
                "AWARDS",
                "FRANCHISE"
              ]
            }
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "mine",
                "following"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/channels/{id}": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Get a channel",
        "operationId": "getChannel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "404": {
            "description": "Channel introuvable"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/connectors": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "List approved connectors",
        "description": "Public endpoint used by the browser extension.",
        "operationId": "getConnectors",
        "security": [],
        "responses": {
          "200": {
            "description": "Approved connectors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "304": {
            "description": "No changes since the provided ETag"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/connectors/submit": {
      "post": {
        "tags": [
          "Connectors"
        ],
        "summary": "Submit a connector",
        "description": "Submits a connector for review. Limit: 5 submissions per hour per user.",
        "operationId": "submitConnector",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectorSubmission"
              },
              "example": {
                "name": "Example connector",
                "domains": [
                  "example.com"
                ],
                "definition": {
                  "version": 1
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Connecteur soumis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          },
          "429": {
            "description": "Limite atteinte"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/kodi/import": {
      "post": {
        "tags": [
          "Kodi"
        ],
        "summary": "Import a Kodi library",
        "operationId": "importKodi",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KodiImportRequest"
              },
              "example": {
                "importSessionId": "demo-session",
                "chunk": 1,
                "totalChunks": 1,
                "items": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch imported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid batch or parameters"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/media/resolve": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Resolve media",
        "description": "Finds a media item from an IMDb ID, a TMDB ID and type, a title/year, or episode context.",
        "operationId": "resolveMedia",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaResolveRequest"
              },
              "example": {
                "type": "movie",
                "tmdbId": 550
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Media resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid identifiers or context"
          },
          "404": {
            "description": "Media not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/media/status": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Get user media status",
        "description": "Returns user status for a batch of movies, TV shows, or episodes.",
        "operationId": "getMediaStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaStatusRequest"
              },
              "example": {
                "items": [
                  {
                    "type": "movie",
                    "id": 550
                  },
                  {
                    "type": "tv",
                    "id": 1399
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Statuses returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "No valid items"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "DejaVu API key. pk_* = read-only; sk_* = read and write."
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "DejaVu API key sent in Authorization: Bearer <key>."
      },
      "SessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "better-auth.session_token",
        "description": "DejaVu user session used to approve the Device Flow in the browser."
      }
    },
    "schemas": {
      "MediaItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID TMDB"
          },
          "type": {
            "type": "string",
            "enum": [
              "movie",
              "tv"
            ]
          },
          "title": {
            "type": "string"
          },
          "posterPath": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "MediaInput": {
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "movie",
              "tv"
            ]
          },
          "id": {
            "type": "integer",
            "description": "TMDB ID of the content"
          }
        }
      },
      "CollectionItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MediaItem"
          },
          {
            "type": "object",
            "properties": {
              "format": {
                "type": "string",
                "description": "Storage format (Blu-ray, DVD, etc.)",
                "nullable": true
              },
              "notes": {
                "type": "string",
                "nullable": true
              },
              "addedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "CollectionInput": {
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "movie",
              "tv"
            ]
          },
          "id": {
            "type": "integer",
            "description": "ID TMDB"
          },
          "format": {
            "type": "string",
            "description": "Storage format (e.g. Blu-ray, DVD, digital)"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "HistoryItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MediaItem"
          },
          {
            "type": "object",
            "properties": {
              "watchedAt": {
                "type": "string",
                "format": "date-time"
              },
              "count": {
                "type": "integer",
                "description": "Number of times watched",
                "default": 1
              },
              "episodeId": {
                "type": "integer",
                "nullable": true
              },
              "seasonNumber": {
                "type": "integer",
                "nullable": true
              },
              "episodeNumber": {
                "type": "integer",
                "nullable": true
              }
            }
          }
        ]
      },
      "HistoryInput": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "movie",
              "tv",
              "episode"
            ]
          },
          "id": {
            "type": "integer",
            "description": "TMDB ID of the movie or episode. For an episode, it can be replaced by tvShowId + seasonNumber + episodeNumber."
          },
          "count": {
            "type": "integer",
            "default": 1,
            "description": "Number of watches to record"
          },
          "watchedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Watch date and time (default: now)"
          },
          "tmdbId": {
            "type": "integer",
            "description": "Alias for the TV show TMDB ID used to resolve an episode by context."
          },
          "tvShowId": {
            "type": "integer",
            "description": "TV show TMDB ID, used to resolve an episode."
          },
          "seasonNumber": {
            "type": "integer",
            "minimum": 0,
            "description": "Season number for episode resolution."
          },
          "episodeNumber": {
            "type": "integer",
            "minimum": 1,
            "description": "Episode number for episode resolution."
          }
        },
        "description": "Adds a movie or episode to history. TV shows are not standalone history entries: use type=episode."
      },
      "RatingItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MediaItem"
          },
          {
            "type": "object",
            "properties": {
              "rating": {
                "type": "integer",
                "minimum": 1,
                "maximum": 10
              },
              "review": {
                "type": "string",
                "nullable": true
              },
              "ratedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "RatingInput": {
        "type": "object",
        "required": [
          "type",
          "rating"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "movie",
              "tv",
              "season",
              "episode"
            ]
          },
          "id": {
            "type": "integer",
            "description": "TMDB ID of the media or episode. For a season/episode, TV show context may be required."
          },
          "rating": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "description": "Rating from 1 to 10"
          },
          "review": {
            "type": "string",
            "description": "Text review (optional)"
          },
          "tvShowId": {
            "type": "integer",
            "description": "Required for seasons and episodes",
            "nullable": true
          },
          "seasonNumber": {
            "type": "integer",
            "description": "Required for seasons",
            "nullable": true
          },
          "episodeNumber": {
            "type": "integer",
            "minimum": 1,
            "description": "Episode number, required when the episode is resolved by context."
          }
        },
        "description": "Adds or updates a rating from 1 to 10. Seasons and episodes use tvShowId and their S/E context."
      },
      "WatchlistItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MediaItem"
          },
          {
            "type": "object",
            "properties": {
              "priority": {
                "type": "integer",
                "description": "Priority order",
                "nullable": true
              },
              "notes": {
                "type": "string",
                "nullable": true
              },
              "addedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "WatchlistInput": {
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "movie",
              "tv"
            ]
          },
          "id": {
            "type": "integer"
          },
          "priority": {
            "type": "integer",
            "description": "Priority (smaller = higher priority)"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "ScrobbleSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "movie",
              "episode"
            ]
          },
          "mediaId": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "progress": {
            "type": "integer",
            "description": "Seconds played"
          },
          "duration": {
            "type": "integer",
            "description": "Total duration in seconds"
          },
          "progressPercent": {
            "type": "number",
            "description": "Progress percentage (0-100)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ScrobbleInput": {
        "type": "object",
        "required": [
          "type",
          "progress",
          "duration"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "movie",
              "episode"
            ]
          },
          "id": {
            "type": "integer",
            "description": "TMDB ID of the movie or episode, optional if tmdbId or episode context is provided."
          },
          "progress": {
            "type": "integer",
            "description": "Seconds already played"
          },
          "duration": {
            "type": "integer",
            "description": "Total content duration in seconds"
          },
          "tmdbId": {
            "type": "integer",
            "minimum": 1,
            "description": "TMDB ID of the movie or TMDB ID of the TV show to resolve an episode."
          },
          "tvShowId": {
            "type": "integer",
            "minimum": 1,
            "description": "TMDB ID of the TV show to resolve an episode."
          },
          "seasonNumber": {
            "type": "integer",
            "minimum": 0,
            "description": "Season number to resolve an episode."
          },
          "episodeNumber": {
            "type": "integer",
            "minimum": 1,
            "description": "Episode number to resolve an episode."
          }
        },
        "description": "Updates the progress of a movie or episode. At 90% or more, the content is automatically marked as watched."
      },
      "UpNextItem": {
        "type": "object",
        "properties": {
          "showId": {
            "type": "integer"
          },
          "showTitle": {
            "type": "string"
          },
          "posterPath": {
            "type": "string",
            "nullable": true
          },
          "nextEpisode": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "seasonNumber": {
                "type": "integer"
              },
              "episodeNumber": {
                "type": "integer"
              },
              "title": {
                "type": "string"
              },
              "airDate": {
                "type": "string",
                "format": "date",
                "nullable": true
              }
            }
          }
        }
      },
      "List": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "visibility": {
            "type": "string",
            "enum": [
              "PRIVATE",
              "PUBLIC",
              "SHARED"
            ]
          },
          "itemCount": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ListInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "List name"
          },
          "description": {
            "type": "string"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "PRIVATE",
              "PUBLIC",
              "SHARED"
            ],
            "default": "PRIVATE"
          },
          "kind": {
            "type": "string",
            "enum": [
              "media",
              "episode"
            ]
          }
        }
      },
      "ListItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MediaItem"
          },
          {
            "type": "object",
            "properties": {
              "notes": {
                "type": "string",
                "nullable": true
              },
              "position": {
                "type": "integer",
                "description": "Position in the list"
              },
              "addedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "ListItemInput": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "movie",
              "tv",
              "episode"
            ]
          },
          "id": {
            "type": "integer",
            "description": "TMDB ID of the media or episode. For an episode, it can be replaced by tvShowId + seasonNumber + episodeNumber."
          },
          "notes": {
            "type": "string"
          },
          "position": {
            "type": "integer",
            "description": "Desired position in the list"
          },
          "tvShowId": {
            "type": "integer",
            "minimum": 1,
            "description": "TV show TMDB ID, used to resolve an episode."
          },
          "seasonNumber": {
            "type": "integer",
            "minimum": 0,
            "description": "Season number for an episode."
          },
          "episodeNumber": {
            "type": "integer",
            "minimum": 1,
            "description": "Episode number for an episode."
          }
        },
        "description": "Adds a movie, TV show, or episode to a list. Rules depend on the list kind."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "totalItems": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Machine-readable error code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error description"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "required": [
          "success"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "description": "Data returned by the operation"
          }
        }
      },
      "PaginatedSuccessResponse": {
        "type": "object",
        "required": [
          "success",
          "data",
          "pagination"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {}
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "DeviceCodeRequest": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string",
            "maxLength": 64
          },
          "client_name": {
            "type": "string",
            "maxLength": 64
          }
        }
      },
      "DeviceCodeResponse": {
        "type": "object",
        "required": [
          "device_code",
          "user_code",
          "verification_uri",
          "verification_uri_complete",
          "expires_in",
          "interval"
        ],
        "properties": {
          "device_code": {
            "type": "string"
          },
          "user_code": {
            "type": "string"
          },
          "verification_uri": {
            "type": "string",
            "format": "uri"
          },
          "verification_uri_complete": {
            "type": "string",
            "format": "uri"
          },
          "expires_in": {
            "type": "integer",
            "example": 300
          },
          "interval": {
            "type": "integer",
            "example": 5
          }
        }
      },
      "DeviceTokenRequest": {
        "type": "object",
        "required": [
          "device_code",
          "grant_type"
        ],
        "properties": {
          "device_code": {
            "type": "string"
          },
          "grant_type": {
            "type": "string",
            "enum": [
              "urn:ietf:params:oauth:grant-type:device_code"
            ]
          }
        }
      },
      "DeviceTokenResponse": {
        "type": "object",
        "required": [
          "access_token",
          "token_type",
          "expires_in"
        ],
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "example": 7776000
          }
        }
      },
      "MediaResolveRequest": {
        "type": "object",
        "properties": {
          "imdbId": {
            "type": "string"
          },
          "imdb_id": {
            "type": "string"
          },
          "tmdbId": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          },
          "tmdb_id": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "movie",
              "tv",
              "episode"
            ]
          },
          "title": {
            "type": "string"
          },
          "year": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          },
          "tvShowId": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          },
          "seasonNumber": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          },
          "episodeNumber": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          }
        }
      },
      "MediaStatusRequest": {
        "type": "object",
        "required": [],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "movie",
                    "tv",
                    "episode"
                  ]
                },
                "id": {
                  "type": "integer"
                },
                "tmdbId": {
                  "type": "integer"
                },
                "tmdb_id": {
                  "type": "integer"
                },
                "seasonNumber": {
                  "type": "integer"
                },
                "season_number": {
                  "type": "integer"
                },
                "season": {
                  "type": "integer"
                },
                "episodeNumber": {
                  "type": "integer"
                },
                "episode_number": {
                  "type": "integer"
                },
                "episode": {
                  "type": "integer"
                }
              }
            },
            "description": "Array of media to query. It may be empty; the response then returns an empty data object."
          }
        }
      },
      "ConnectorSubmission": {
[...]
